.modal-dialog {
    max-width: 95vw;
    max-height: 850px;
    min-height: initial;
    width: fit-content;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: #070e23e8;
}

.modal-content {
    background-color: initial;
}

.player {
    background-color: #fff;
    cursor: pointer;
}

.player:not(.swap):hover {
    background-color: var(--bs-teal);
}

.swap {
    background-color: var(--bs-pink);
}

.swap .name {
    color: #fff;
}

.match-result .btn {
    box-shadow: none;
}

.copy-message {
    min-height: 24px;
    top: 12.5px;
}

@media (min-width: 576px ){
    .player {
        min-width: 455px;
    }
}