.dialog-modal {
    max-width: 95vw;
    width: fit-content;
}

.player {
    background-color: #fff;
    cursor: pointer;
    min-width: 455px;
}

.player:not(.swap):hover {
    background-color: var(--bs-teal);
}

.swap {
    background-color: var(--bs-pink);
}

.swap .name {
    color: #fff;
}

.match-result .btn {
    box-shadow: none;
}