/* override milo style */

main {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  opacity: 0;
}

main.loaded {
  opacity: 1;
}

main .container {
  width: 100%;
}

div[data-align=center] {
  text-align: center;
}

.modal {
  position: static;
  overflow: auto;
  outline: initial;
  display: block;
  width: initial;
  height: initial;
}
/* end override milo style */

:root {
  --lb-orange: #f97352;
}